$primary:         rgb(255, 218, 201);
$white:           #FFFFFF;
$night-rider:     #333333;
$white-smoke:     #F8F8F8;
$very-light-grey: #CECECE;
$grey:            #767676;
$cinderella:      #FFDAC9;
