@import '../../assets/scss/helper.scss';

.our-menu {
  position: relative;
  background: $white-smoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 895px;
  overflow: hidden;
  &__title {
    position: absolute;
    top: 91px;
  }
}
