@import '../../assets/scss/helper.scss';

.contact {
  background: $cinderella;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 82px 0;
  &__box {
    width: 536px;
  }

  &__description {
    max-width: 322px;
    margin-bottom: 10px;
    font-family: 'Gill Sans';
    color: $grey;
    font-size: 15px;
  }
}
