* {margin: 0; padding: 0; box-sizing: border-box };
textarea:focus, input:focus, select:focus{
  outline: none;
}

@import './assets/scss/variables.scss';
@import './assets/scss/utils/text.scss';
@import './assets/scss/utils/functions.scss';
@import './App.scss';
@import '../src/assets/scss/icons.scss';

@font-face {
  font-family: 'DIN Condensed';
  src: url('./assets/fonts/DINCondensed-Bold.woff2') format('woff2'),
      url('./assets/fonts/DINCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('./assets/fonts/GillSans.woff2') format('woff2'),
      url('./assets/fonts/GillSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'DIN Condensed', Arial, sans-serif;
}
