@import '../../assets/scss/helper.scss';

.navigation {
  display: flex;
  align-items: center;
  &__item {
    list-style: none;
  }

  &__link {
    display: flex;
    text-decoration: none;
    padding: 24px 40px;
    color: $night-rider;
  }
}

.header-fixed {
  top: 0;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
}
