@import '../../assets/scss/helper.scss';

.navigation {
  display: flex;
  &__item {
    list-style: none;
  }

  &__link {
    display: flex;
    text-decoration: none;
    padding: em(28) em(40);
    color: $night-rider;
  }
}

.header {
  position: fixed;
  top: 0;
}
